<div>
  <div *ngIf="withFilter" class="filter">
    <mat-form-field>
      <mat-label>Ingrese el filtro deseado</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ej. 2022" #input>
    </mat-form-field>
  </div>
  <div class="title-table">
    <h2>{{headerTable}}</h2>
  </div>
  <div class="table-sticky" [ngStyle]="heightTable">
    <table mat-table [dataSource]="dataArray" class="mat-elevation-z8">
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef style="width: 5%; text-align: center;"> Id </th>
        <td mat-cell *matCellDef="let item" class="border-color-table mobile-label"> {{item.id}} </td>
      </ng-container>

      <ng-container matColumnDef="De">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> De </th>
        <td mat-cell *matCellDef="let item" class="border-color-table mobile-label"> {{item.from}} </td>
      </ng-container>

      <ng-container matColumnDef="Código">
        <th mat-header-cell *matHeaderCellDef style="width: 5%; text-align: center;"> Código </th>
        <td mat-cell *matCellDef="let item" class="border-color-table mobile-label"> {{(viewCAI) ? item.teacher.codigo : item.codigo}} </td>
      </ng-container>

      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef class="columns-table"> Nombre </th>
        <td mat-cell *matCellDef="let item" class="border-color-table"> {{item.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="Nombre Completo">
        <th mat-header-cell *matHeaderCellDef class="columns-table"> Nombre Completo </th>
        <td mat-cell *matCellDef="let item" class="border-color-table"> {{ (item.nombre !== null) ? item.nombre + ' ' + item.apellido : ''}} </td>
      </ng-container>

      <ng-container matColumnDef="Id CAI">
        <th mat-header-cell *matHeaderCellDef class="columns-table"> Id CAI </th>
        <td mat-cell *matCellDef="let item" class="border-color-table"> {{item.id}} </td>
      </ng-container>

      <ng-container matColumnDef="Año">
        <th mat-header-cell *matHeaderCellDef class="columns-table" style="width: 5%; text-align: center;"> Año </th>
        <td mat-cell *matCellDef="let item" class="border-color-table"> {{item.year}} </td>
      </ng-container>

      <ng-container matColumnDef="Semestre">
        <th mat-header-cell *matHeaderCellDef class="columns-table" style="width: 10%; text-align: center;"> Semestre </th>
        <td mat-cell *matCellDef="let item" class="border-color-table"> {{item.semester}} </td>
      </ng-container>

      <ng-container matColumnDef="Departamento">
        <th mat-header-cell *matHeaderCellDef class="columns-table"> Departamento </th>
        <td mat-cell *matCellDef="let item" class="border-color-table"> {{item.teacher.department}} </td>
      </ng-container>

      <ng-container matColumnDef="Correo">
        <th mat-header-cell *matHeaderCellDef class="columns-table"> Correo </th>
        <td mat-cell *matCellDef="let item" class="border-color-table"> {{item.correo}} </td>
      </ng-container>

      <ng-container matColumnDef="¿Realiza CAI?">
        <th mat-header-cell *matHeaderCellDef class="columns-table"> ¿Realiza CAI? </th>
        <td mat-cell *matCellDef="let item" class="border-color-table"> {{(item.realizaCai) ? 'Sí' : 'No'}} </td>
      </ng-container>

      <ng-container matColumnDef="Descripción">
        <th mat-header-cell *matHeaderCellDef class="columns-table"> Descripción </th>
        <td mat-cell *matCellDef="let item" class="border-color-table"> {{item.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="Fecha">
        <th mat-header-cell *matHeaderCellDef style="width: 5%; text-align: center;"> Fecha </th>
        <td mat-cell *matCellDef="let item" class="border-color-table mobile-label"> {{item.date}} </td>
      </ng-container>

      <ng-container matColumnDef="Estado">
        <th mat-header-cell *matHeaderCellDef style="width: 5%; text-align: center;"> Estado </th>
        <td mat-cell *matCellDef="let item" class="border-color-table mobile-label"> {{item.state}} </td>
      </ng-container>

      <ng-container matColumnDef="Decano">
        <th mat-header-cell *matHeaderCellDef class="columns-table"> Decano </th>
        <td mat-cell *matCellDef="let item" class="border-color-table"> {{(item.estado) ? item.decano : 'No aplica'}} </td>
      </ng-container>

      <ng-container matColumnDef="Director">
        <th mat-header-cell *matHeaderCellDef class="columns-table"> Director </th>
        <td mat-cell *matCellDef="let item" class="border-color-table"> {{item.director}} </td>
      </ng-container>

      <ng-container matColumnDef="Validar">
        <th mat-header-cell *matHeaderCellDef class="border-column-table"> Validar </th>
        <ng-container *ngIf="viewCAI">
          <td mat-cell *matCellDef class="border-color-table">
            <button class="add-button" (click)="validateCai()">
              <mat-icon>remove_red_eye</mat-icon>
              <span>Evaluar</span>
            </button>
          </td>
        </ng-container>
      </ng-container>

      <ng-container matColumnDef="Acción">
        <th mat-header-cell *matHeaderCellDef class="border-column-table"> Acción </th>
        <ng-container *ngIf="viewCAI">
          <td mat-cell *matCellDef class="border-color-table">
            <button class="add-button" (click)="getCai()">
              <mat-icon>remove_red_eye</mat-icon>
              <span>Ver</span>
            </button>
          </td>
        </ng-container>
        <ng-container *ngIf="!viewCAI">
          <td mat-cell *matCellDef="let item" class="border-color-table">
            <button class="add-button" *ngIf="item.estado || item.estaActivo" (click)="redirectButton(item.id)">
              <mat-icon>edit</mat-icon>
              {{(onlyView) ? 'Ver' : 'Editar'}}
            </button>
            <button class="disable-button" (click)="openDialog(item.id)" *ngIf="item.estado || item.estaActivo">
              <mat-icon> edit_attributes</mat-icon>
              <span>Deshabilitar</span>
            </button>
            <button class="add-button" (click)="openDialogEnable(item.id)" *ngIf="!item.estado && !item.estaActivo">
              <mat-icon> edit_attributes</mat-icon>
              <span>Habilitar</span>
            </button>
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row>Listado de Facultades</tr>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
  </div>
</div>
