a {
  color: #000;
  text-decoration: none;
}

button {
  border-radius: 2vw;
  font-size: medium;
  padding: 2%;
  margin: 1%;
  width: 45%;
  cursor: pointer;
}

h2 {
  font-size: 1.8vw;
  text-align: center;
  margin: 0;
}

table {
  width: 100%;
}

th {
  border-color: #9D0303;
}

tr, th {
  background-color: #FFF;
  color: #000;
  font-weight: bold;
  text-align: center;
}

tr, td {
  background-color: transparent;
}

tr, th {
  font-size: large;
}

td {
  font-size: large;
  font-weight: normal;
  line-height: 100%;
}

.table-sticky {
  overflow: auto;
}

.border-color-table {
  border-color: transparent;
  padding: 1% 0 1% 0;
}

.title-table {
  border-bottom-color: #9D0303;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  padding-bottom: 0.5%;
  text-align: center;
}

.add-button {
  background-color: #96C0E8;
  border-color: #96C0E8;
}

.disable-button {
  background-color: #E896A4;
  border-color: #E896A4;
}

.border-column-table {
  width: 15%;
  text-align: center;
}

.columns-table {
  width: 20%;
  text-align: center;
}

.mat-icon {
  display: none;
}

.filter {
  display: flex;
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.several-buttons {
  padding: 1%;
}

@media only screen and (min-width: 321px) and (max-width: 600px) {
  button {
    padding-left: 6%;
  }
}

@media only screen and (max-width: 600px) {
  a {
    display: none;
  }
  button {
    margin-right: 1%;
    text-align: center;
    width: 45%;
  }
  h2 {
    font-size: 6vw;
    margin: 0;
    margin-top: 5%;
  }
  span {
    display: none;
  }
  table {
    width: 200%;
  }
  tr, th {
    font-size: medium;
  }
  td {
    font-size: small;
  }
  .border-color-table {
    border-color: rgba(0, 0, 0, 0.281);
  }
  .mat-icon {
    display: block;
  }
}

@media only screen and (min-width:601px) and (max-width: 840px) {
  button {
    width: 100%;
  }
  h2 {
    font-size: 3vw;
    margin: 0;
    margin-top: 2%;
  }
}

@media only screen and (min-width:841px) and (max-width: 1100px) {
  button {
    width: 70%;
  }
}

@media only screen and (min-width: 2400px) {
  button {
    font-size: x-large;
  }
  tr, th {
    font-size: xx-large;
  }
  td {
    font-size: x-large;
  }
}
