<ng-container>
  <app-navbar></app-navbar>
  <ng-container *ngIf="!isLoaded">
    <div class="spinner-align">
      <app-spinner></app-spinner>
    </div>
  </ng-container>
  <div class="main-container" *ngIf="isLoaded">
    <app-principal-row [backRoute]="backRouteRepresentationItem" [title]="titleRepresentationItem" [isPrincipal]="isPrincipalRepresentationItem"></app-principal-row>
    <form [formGroup]="representationForm" (ngSubmit)="onSubmit()">
      <div class="content-input">
        <span>Actividad <span class="item-required">*</span></span>
        <mat-form-field>
          <textarea matInput rows="3" formControlName="activityName" placeholder="Obligatorio"></textarea>
        </mat-form-field>
      </div>
      <div class="content-input">
        <span>Descripción<span class="item-required">*</span></span>
        <mat-form-field>
          <textarea matInput rows="3" formControlName="description" placeholder="Obligatorio"></textarea>
        </mat-form-field>
      </div>
      <div class="content-input">
        <span>¿Requiere que la actividad sea listada? <span class="item-required">*</span></span>
        <div class="radio-button-section">
          <mat-radio-group aria-label="Seleccione una opción" formControlName="isList">
            <mat-radio-button value="true" color="warn">Sí</mat-radio-button>
            <mat-radio-button value="false" color="warn">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="button-form">
        <button type="submit">
          {{(idRepresentation === '') ? 'Agregar' : 'Actualizar'}}
        </button>
      </div>
    </form>
  </div>
</ng-container>
