button {
  font-size: large;
  font-weight: bold;
  border-radius: 2vh;
  margin: 1%;
  padding: 0.3%;
}

.button-content-file {
  display: flex;
  justify-content: center;
  margin: 0 5% 0 5%;
}

.button-submit {
  background-color: #96C0E8;
  border-color: #96C0E8;
  width: 25%;
}
