<ng-container>
  <app-navbar></app-navbar>
  <div class="main-container">
    <app-principal-row [backRoute]="backRouteViewCai" [title]="titleViewCai" [isPrincipal]="isPrincipalViewCai"></app-principal-row>
    <div *ngIf="isLoaded">
      <app-cai-structure [isViewCai]="true" [dataCai]="dataCai" [loadedData]="true" [feedbackList]="feedbackList"></app-cai-structure>
    </div>
    <div class="button-content-file" *ngIf="dataCai.id_estado === 3">
      <button mat-raised-button type="button" class="button-submit" (click)="getFile()">
        Descargar
      </button>
    </div>
  </div>
</ng-container>
