button {
  background-color: #96e8b6cb;
  border-color: #96e8b6cb;
  border-radius: 2vh;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  margin: 3%;
  padding: 1.5% 5% 1.5% 5%;
  white-space: nowrap;
}

h1 {
  color: #B20808;
  font-size: x-large;
  font-weight: bold;
  line-height: 100%;
}

span {
  color: #000;
  font-size: larger;
  font-weight: bold;
  text-align: center;
}
