button {
  font-size: large;
  font-weight: bold;
  border-radius: 2vh;
  margin: 1%;
  padding: 0.3%;
}

h1 {
  color: #B20808;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

span {
  font-size: large;
  margin-right: 1%;
}

.button-content {
  display: flex;
  justify-content: center;
  margin: 0 20% 0 20%;
}

.button-submit {
  background-color: #96C0E8;
  border-color: #96C0E8;
  width: 25%;
}

.approve-button {
  background-color: #96e8b6cb;
  border-color: #96e8b6cb;
}

.reject-button {
  background-color: #E896A4;
  border-color: #E896A4;
}
