button {
  background-color: #96e8b6cb;
  border-color: #96e8b6cb;
  border-radius: 2vh;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  margin-right: 1%;
  margin-top: 2%;
  padding: 0.5% 1% 0.5% 1%;
  white-space: nowrap;
}

input {
  font-size: medium;
  font-weight: bold;
  width: 100%;
}

label {
  font-size: larger;
  font-weight: bold;
}

.principal-content {
  display: flex;
  flex-flow: column;
  margin: 0 1% 0 2%;
}

.update-content{
  display: flex;
  flex-flow: column;
  margin: 0 20% 0 20%;
}

.form-content {
  display: flex;
  width: 100%;
}

.left-content {
  align-items: center;
  display: flex;
  width: 20%;
}

.right-content {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.mat-radio-button {
  margin: 1%;
}

.margin-table {
  margin-top: 3%;
}

.add-button {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
  span {
    font-size: medium;
    margin-bottom: 5%;
  }
  .main-container {
    height: 150vh;
  }
  .form-content {
    flex-flow: column;
  }
  .update-content{
    margin: 0 10% 0 10%;
  }
  .add-button {
    flex-flow: column;
  }
}

@media only screen and (min-width:601px) and (max-width: 1500px) {
  span {
    font-size: larger;
  }
  .main-container {
    height: 125vh;
  }
  .left-content {
    width: 50%;
  }
}

@media only screen and (min-width: 2400px) {
  span {
    font-size: xx-large;
  }
  .main-container {
    height: 110vh;
  }
}
