<div class="principal-row">
  <div class="principal-item">
    <button>
      <div class="back-button">
        <div class="icon-margin">
          <mat-icon>navigate_before</mat-icon>
        </div>
        <div>
          <a href="{{backRoute}}">Atrás</a>
        </div>
      </div>
    </button>
  </div>
  <div class="principal-item">
    <h1>{{title}}</h1>
  </div>
  <div class="principal-item come-back-home">
    <button *ngIf="!isPrincipal">
      <a href="/home">Volver a la página <br> principal</a>
    </button>
  </div>
</div>
