<header>
</header>
<div class="main-container">
  <div class="container">
    <h1>Sistema de Administración de Carga Académica Integral</h1>
  </div>
  <div class="main-line">
  </div>
  <div class="container" GoogleSigninButtonDirective>
    <img src="../../assets/img/LogoUFPS.jpg" alt="LogoUFPS">
    <h1>ADCAI</h1>
    <button>
      <asl-google-signin-button type='standard' size='large' shape='circle' theme="filled_blue"></asl-google-signin-button>
    </button>
  </div>
</div>
<footer>
</footer>
