a {
  color: #000;
  text-decoration: none;
}

button {
  background-color: #d9d9d96b;
  border-color: #d9d9d96b;
  border-radius: 2vh;
  color: #000;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  padding: 1% 2.5% 1% 2.5%;
  line-height: 100%;
  white-space: initial;
  word-wrap: break-word;
  width: 20vw;
}

h2 {
  font-size: 1.8vw;
  margin: 0;
}

h3 {
  font-weight: normal;
  margin-top: 0;
  margin-left: 2%;
}

.principal-options {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-evenly;
  word-wrap: break-word;
}

.main-container {
  margin: 0;
}

.margin-title {
  padding: 2%;
}

.spinner-align {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  button {
    font-size: medium;
    margin: 2%;
    padding: 3%;
    width: 85%;
  }
  .principal-options {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}

@media only screen and (min-width:601px) and (max-width: 840px) {
  button {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 840px) {
  h2 {
    font-size: 110%;
  }
}

@media only screen and (min-width: 2400px) {
  button {
    font-size: xx-large;
  }
  h2 {
    font-size: 300%;
  }
}
