button {
  background-color: #96C0E8;
  border-color: #96C0E8;
  border-radius: 2vh;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  padding: 0.5% 3% 0.5% 3%;
}

form {
  margin: 0 5% 0 5%;
}

h2 {
  margin: 0;
}

span {
  font-size: larger;
  margin-right: 2%;
}

textarea.mat-input-element {
  resize: none;
}

.principal-container {
  padding: 0 1% 0 1%;
}

.item-required {
  color: #B20808;
}

.content-input {
  display: flex;
  flex-flow: column;
  margin: 1% 1% 0 1%;
}

.informative-text {
  font-size: medium;
}

.mat-radio-button {
  margin: 1%;
}

.button-form {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: medium;
  }
  span {
    font-size: medium;
  }
  .content-input {
    margin: 3% 1% 0 1%;
  }
  .informative-text {
    font-size: small;
  }
}
