<header>
</header>
<div class="main-container">
  <div class="container">
    <h1>Sistema de Administración de Carga Académica Integral</h1>
  </div>
  <div class="main-line">
  </div>
  <div class="container">
    <img src="../../assets/img/LogoUFPS.jpg" alt="LogoUFPS">
    <h1>ADCAI</h1>
    <button>
      <div id="g_id_onload"
        data-client_id="clientIdGoogle"
        data-callback="handleCredentialResponse"
        data-auto_prompt="false">
      </div>
      <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="circle">
      </div>
    </button>
  </div>
</div>
<footer>
</footer>
