<ng-container>
  <app-navbar></app-navbar>
  <div class="main-container">
    <app-principal-row [backRoute]="backRouteDepartment" [title]="titleDepartment" [isPrincipal]="isPrincipalDepartment"></app-principal-row>
    <div class="principal-content">
      <div class="add-button">
        <button>
          <a href="/gestion-departamentos/agregar" title="Agregar">Agregar Departamento</a>
        </button>
      </div>
      <div *ngIf="isLoaded">
        <app-sticky-table [columnsToDisplay]="columnsToDisplayDepartment" [headerTable]="headerTableDepartment" [buttonRoute]="updateRouteDepartment" [elementsData]="elementsDataDepartment" [descriptionDialog]="descriptionActionDepartment"></app-sticky-table>
      </div>
    </div>
  </div>
  <footer></footer>
</ng-container>
