button {
  border-radius: 2vh;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  margin: 1%;
  padding: 1% 0 1% 0;
  width: 100%;
}

input {
  font-size: large;
  font-weight: bold;
}

form {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

span {
  font-weight: bold;
  font-size: larger;
}

.item-container {
  display: flex;
  flex-flow: column;
  padding: 0 1% 0 1%;
  width: 30%;
}

.button-container {
  align-items: center;
  display: flex;
  flex-flow: column;
  width: 30%;
}

.add-massive-button {
  background-color: #96E8B6;
  border-color: #96E8B6;
}

.add-manual-button {
  background-color: #96C0E8;
  border-color: #96C0E8;
}

.buttons {
  display: flex;
  flex-flow: row;
  margin-top: 1%;
  width: 100%;
}

.item-required {
  color: #B20808;
}

@media only screen and (max-width: 600px) {
  button {
    font-size: medium;
    width: 100%;
  }
  span {
    font-size: medium;
  }
  .item-container {
    width: 80%;
  }
  .buttons {
    flex-flow: column;
    width: 80%;
  }
}

@media only screen and (min-width:601px) and (max-width: 840px) {
  .buttons {
    width: 50%;
  }
}

