<ng-container>
  <app-navbar></app-navbar>
  <div class="main-container">
    <app-principal-row [backRoute]="backRouteFaculty" [title]="titleFaculty" [isPrincipal]="isPrincipalFaculty"></app-principal-row>
    <div class="principal-content">
      <div class="add-button">
        <button>
          <a href="/gestion-facultades/agregar" title="Agregar">Agregar Facultad</a>
        </button>
      </div>
      <div *ngIf="isLoaded">
        <app-sticky-table [columnsToDisplay]="columnsToDisplayFaculty" [headerTable]="headerTableFaculty" [buttonRoute]="updateRouteFaculty" [elementsData]="elementsDataFaculty" [descriptionDialog]="descriptionActionFaculty" [actualComponent]="'FACULTAD'"></app-sticky-table>
      </div>
    </div>
  </div>
  <footer></footer>
</ng-container>
